  <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="detailPage">
      <div class="detailContainer">
        <div id="detailContent">
          <div>
            <h2><%= blog.title %> <span style="display: block; font-size: 18px;"><%= blog.destination %></span></h2>
           <% if(user && user._id.toString() === blog.user_id.toString()){ %>
            <div style="display: inline-flex; gap: 6px; align-items: center;">
              <div onclick="editBlog()" class="btn-details">
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: rgb(9, 39, 9);"></i>
              </div>
              <a id="deleteButton" data-id="<%= blog._id %>" class="btn-details">
                <i class="fa-solid fa-trash fa-lg" style="color: rgb(144, 25, 45);"></i>
              </a>
            </div>
           <% } %>
          </div>
          <p class="subTitle">Updated at <%= blog.updatedAt.toDateString() %><span style="display: block;">Created by <%= blog.username %></span></p>

          <% blog.contents.forEach((item,index)=>{%>
            <div>
                <h3>Day <%= index+1 %></h3>
                <p><%= item %></p>
            </div>
          <% }) %>
          <% if(blog.notes){%>
            <div class="notes">
              <p><%= blog.notes %></p>
            </div>
          <% } %>
  
        </div>
        <form id="updateForm" data-days="<%=blog.days%>">
          <div style="display: flex; justify-content: end; gap: 6px;">
            <div class="btn-secondary" onclick="closeEdit()" style="align-self: flex-end;" type="button">
              Cancel
            </div>
            <button class="btn-primary" style="align-self: center;" data-id="<%= blog._id %>" type="submit" id="updateButton">Update</button>
          </div>
              <input name="title" class="input" type="text" required value="<%= blog.title %>"/>
              <input name="destination" class="input" type="text" required value="<%= blog.destination %>"/>
              <input name="days" class="input" type="number" required value="<%=blog.days%>" min="1"/>
            <div class="contentsContainer">
              <div id="originalContents" data-contents="<%= blog.contents %>">
                <% blog.contents.forEach((item,index)=>{%>
                  <textarea name="contents" class="textarea"><%= item %></textarea>  
                <% }) %>
              </div>
              <div id="newContents"></div>
            </div>
            <div class="image-container">
              <% if(blog.images && blog.images.length > 0){ %>
                <label class="custom-image-input">Change Photo
                  <i class="fa-regular fa-image fa-xl"></i>
                  <input name="images" type="file" accept="image/png,image/jpeg" class="image-input"/>
                </label>
              <div class="editImageContainer">
                <img src="<%=blog.images[0].image_path%>"  class="editImage" alt="imagePreview" 
                data-src="<%=blog.images[0].image_path%>"/>
              </div>
            <%}else{%>
              <label class="custom-image-input">Add Photo
                <i class="fa-regular fa-image fa-xl"></i>
                <input name="images" type="file" accept="image/png,image/jpeg" class="image-input"/>
              </label>
              <div class="editImageContainer" style="display: none;">
                <img src="" class="editImage" alt="imagePreview"/>
              </div>
            <%}%>

            </div>
            <textarea  name="notes" placeholder="Notes (optional)" class="notesTextarea"></textarea>
      </form>
      </div>
    </div>
  </body>
    <%- include('./partials/footer.ejs') %>
    <script src="/scripts/details.js">
    </script>
</body>
</html>