    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="homePage">
        <% if (blogs.length>0){ %>
            <div class="blogCard">
            <% blogs.forEach(blog=>{%>
                <a href="/blogs/<%=blog._id%>">
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet">Destination: <%= blog.destination %></p>
                <p><%= blog.days %>
                <% if(blog.days===1){%>
                    <span>Day</span>
                <% }else{ %>
                    <span>Days</span>
                <% } %>
                </p>
                <p class="subTitle">created at <%= blog.createdAt.toDateString()%></p>
                </a>
            <%}) %>
            </div>
        <% }else{ %>
            <p>No Contents Available.</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>