    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="homePage">
        <% if (blogs.length>0){ %>
            <div class="blogCard">
            <% blogs.forEach(blog=>{%>
                <a href="/blogs/<%=blog._id%>">
                <% if(blog.images && blog.images.length>0){ %>
                    <div style="width: 50%; height: 100%;" class="loading">
                        <p style="text-align: center;">Loading...</p>
                    </div>
                    <img src="<%=blog.images[0].image_path%>" class="blogImage" style="display: none;" alt="image" onload="imageLoaded()"/>
                <% } %>
                <div class="blogText">
                    <h3 class="title"><%= blog.title %></h3>
                    <p>Destination: <%= blog.destination %></p>
                    <p><%= blog.days %>
                    <% if(blog.days===1){%>
                        <span>Day</span>
                    <% }else{ %>
                        <span>Days</span>
                    <% } %>
                    </p>
                   <p class="subTitle">Created at <%= blog.createdAt.toDateString()%></p>
                   <P class="subTitle">Created by <%= blog.username %></P>

                </div>
                </a>
            <%}) %>
            </div>
        <% }else{ %>
            <p style="text-align: center;">No Contents Available.</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script>
        const blogImage = document.querySelectorAll('.blogImage');
        const loading = document.querySelectorAll('.loading')

        // Preload the actual image
        function imageLoaded() {
            console.log('loaded')
                loading.forEach(load=>{
                    load.style.display='none'
                })
                blogImage.forEach(image=>{
                    image.style.display='block'
                })
        };

    </script>
</body>
</html>